.bs-glyphicons {
  margin: 0 -10px 20px;
  overflow: hidden;
}
.bs-glyphicons-list {
  padding-left: 0;
  list-style: none;
}
.bs-glyphicons li .customer,
.bs-glyphicons li .advisor {
  float: left;
  width: 50%;
  padding: 10px;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  background-color: #f9f9f9;
  border: 2px solid #fff;
}
.bs-glyphicons .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}
.bs-glyphicons .glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word;
}
.bs-glyphicons li a {
  color: #000;
  font-size: 24px;
}
.bs-glyphicons li .customer:hover {
  color: #fff;
  background-color: #563d7c;
}
.bs-glyphicons li .advisor:hover {
  color: #fff;
  background-color: #3d7c62;
}

@media (min-width: 768px) {
  .bs-glyphicons {
    margin-right: 0;
    margin-left: 0;
  }
  .bs-glyphicons li {
    font-size: 12px;
  }
}

.glyphicon-user:before {
    font-size: 64px;
}